*{margin: 0px;
padding: 0px;
box-sizing: border-box;}
.conatainer{
    /* border: 2px solid red; */
font-size: 15px;
width: 100px;
height: 150px;
display: flex;
}

ul li{list-style: none;
margin-left: -20px;}
.mincontainer{
/* border: 2px solid black; */
margin-top: 0px;
width: 200px;
display: block;
top: -20px;
left: 100px;
margin-left: -127px;

}
.pieheading{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
}